*{
    transition-duration: 800ms;
    box-sizing: border-box;
}
body{
    background: #fff;
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
}
button{
    border:none;
    background-color: inherit;
    cursor: pointer;
}
ul{
    position: absolute;
    margin-top: 5rem;
    padding-left: 0;
    width:100%;
    list-style: none;
}
li{
    margin: 0;
    pointer-events: none;
    padding: 0.8rem 0;
}
li:hover{
    background: #fff;
}
svg{
    height: 50px;
    width: 50px;
}
/* Classes */
.list-1 a{
    position: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    pointer-events: auto;
    padding: 0 1rem;
}
.list-1 a:hover{
    color: #208000;
    font-size: 1.65rem;
}
.side-icons{
    position: fixed;
    bottom: 0.8rem;
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
}
.side-icons a{
    color: #fff;
    font-size: 1.5rem;
}
.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 27.5%;
    height: 100%;
    background:#208000;
    transform: translate(-92%);
}
@media (max-width: 500px){
    .side-bar{
        width: 50%;
        transform: translate(-86%);
    }
}
.side-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0 1rem;
    color: #fff;
  }
.togglebtn{
    position: fixed;
    top: 2%;
    right:4%;
    height:60px;
    width:60px;
    color:#208000;
    animation: bounce 1.2s ease-in-out infinite;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.closebtn:hover{
    transform: rotate(360deg);
}
.displayOn{
    transform: translate(0);
}
.displayOff{
    transform: translate(-100%);
}
#closebtn{
    font-size: 1.3rem;
    color:#fff;
}